#header {
    width: 500px;
    margin: 0 auto;
}

#header h1{
    text-align: center;
    margin: 0 auto;
}

#main {
    margin-top: 20px;
}

#button-section {
    
    width: 200px;
    margin: 0 auto;
    text-align: center;
}

#lotto-section {
    margin-top: 20px;
    text-align: center;
}

#lotto-section img{
    padding : 0 10px 0 10px;
}