#header {
}

#header h1 {
  text-align: center;
  margin-top: 1rem;
}

#main {
  margin-top: 2rem;
}

#button-section {
  text-align: center;
}

#lotto-section {
  margin-top: 2rem;
  text-align: center;
}

#lotto-section img {
  padding: 0 0.3rem 0 0.3rem;
  width: 3rem;
}
